.header{
    margin: 53px 0px 52px;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.nav_ul{
    text-align: center;
}

.nav_li{
    display:inline-block;
}

.nav_li:not(:last-of-type){
    margin-right: 47px;
}

.nav_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.description{
    background-color: rgba(26, 110, 136, 0.71);
    text-align: center;
    padding: 133px 0 134px;
}

.text_description{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    max-width: 726px;
    margin: auto;
}

.background{
    text-align: center;
    background-image: url(../images/pexels-harrison-candlin-2441454\ 1.png);
    padding: 138px 0 180px;
}

.background_title{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.background_button{
    width: 420px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
    border: none;
}

.wide_container{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.square_text{
    text-align: center;
    padding: 221px 0 160px;
}

.text{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    max-width: 696px;
    color: #000000;
    margin: auto;
}

.square{
    display: inline-block;
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
}

.first_square{
    position: absolute;
    top: 100px;
    left: 0px;
}

.second_square{
    position: absolute;
    top: 235px;
    right: 0px; 
}

.third_square{
    position: absolute;
    top: 346px;
    left: 0px; 
}

.second_text{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    max-width: 696px;
    color: #000000;
    margin: auto;
    position: relative;
}

.circle_text{
    text-align: center;
    padding: 56px 0 120px;
}

.second_text::before{
    content: '';
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(92, 152, 171, 1);
    position: absolute;
    top: -56px;
    left: -28px;
}

.second_text::after{
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(191, 222, 251, 1);
    position: absolute;
    bottom: -60px;
    right: -152px;
}

.form-section{
    font-family: 'Open Sans', sans-serif;
    padding: 3px 0 100px;
    max-width: 647px;
    margin: 0 auto;
}

.input_wrapper{
    position: relative;
    max-width: 647px;
    margin: 0 auto;
}

.input{
    width: 100%;
    height: 96px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 36px 0 11px 31px;
    box-sizing: border-box;
    margin-bottom: 41px;
}

.label{
    position: absolute;
    top: 14px;
    left: 31px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.input::placeholder{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.form-button{
    width: 100%;
    height: 92px;
    background: #5C98AB;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    border: none;
    margin-top: 17px;
}